/* navigation styles */
.navigation {
  margin: 20px 0 0;
}

.navigation li a,
.button a {
  padding: 5px 10px;
}

.navigation-li-margin {
  margin-left: 10px;
}

/* header styles */
header div.wrapper {
  height: 55vh;
}

/* that gray block under the doc */
.gray-block {
  width: 100%;
  height: 60px;
  background-color: gainsboro;
}

/* main content block styles */
.main-content {
  padding: 40px 0;
}

.main-content section * {
  margin-bottom: 10px;
}

.button a {
  margin-top: 10px;
  margin-bottom: 0;
}

/* aside styles */
#bestelnu,
.social-li {
  margin-bottom: 10px;
}

.social-text {
  margin-left: 90px;
  padding: 10px 0;
}

/* footer styles */
footer {
  padding: 25px 0;
}

footer h4 {
  margin-bottom: 10px;
}
